.mwin {
  position: absolute;
  bottom: 33px;
  top: 55px;
  left: 30px;
  right: 30px;
  min-width: 964px;
  min-height: 300px;
}

.titlebar {
  height: 43px;
  line-height: 32px;
  padding: 3px 0 8px 0;
}

.title {
  display: inline-block;
  font-weight: bold;
  color: #4d5766;
}

.btnbar {
  float: right;
}

.mainbody {
  position: absolute;
  /* 1 for border */
  left: -1px;
  right: -1px;
  top: 50px;
  bottom: -1px;
}

.pagination {
  float: right;
  margin-top: 15px;
}

.alert {
  width: 22% !important;
  position: absolute !important;
  bottom: 0px;
}